
Lockscreen widgets/Lockscreen widgets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lockscreen widgets/Lockscreen widgets.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lockscreen widgets/Lockscreen widgets.xcodeproj/xcuserdata/macbookpro.xcuserdatad/xcschemes/xcschememanagement.plist
Lockscreen widgets/Lockscreen widgets.xcodeproj/project.xcworkspace/xcuserdata/macbookpro.xcuserdatad/UserInterfaceState.xcuserstate
